@charset "UTF-8";

/* 마이페이지 제목 */
#mypagetitle {
	font-family: 'TmonMonsori';
	font-weight: bolder;
	font-size: 30px;
	color: #6a60a9;
}


}

/* 왼쪽 nav 예약확인/취소 , 찜한 내역 , 정보 수정, 회원 탈퇴 글자 */
div#mypageList li {
	font-family: 'BBTreeGR';
	font-size: 15px;
}

/* 왼쪽 nav */
div.sidenav a, a:hover {
	text-decoration: none;
	color: #6a60a9;
}

div.mypageList a {
	text-decoration: none;
	color: #6a60a9;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
	height: 1500px
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #fbd14b;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

table.updateTable>th, td {
	vertical-align: center;
}

/* 회원정보수정 페이지 / 회원탈퇴 페이지 제목 */
.tit_contents {
	font-family: 'TmonMonsori';
	font-weight: bold;
	color: #6a60a9;
	font-size: 25px;
	text-align: center;
	line-height: 32px;
}

/* 얜 왜있지 */
div {
	display: block;
}

/* 폼테이블 */
tbody {
	display: table-row-group;
}

/* 회원정보수정 테이블 위치조정 */
section#enroll-container input {
	margin: 3px;
}

section#enroll-container table {
	margin: 0px auto;
}

section#enroll-container table th {
	padding: 0px 10px;
	text-align: right;
	vertical-align: center;
}

section#enroll-container table td {
	padding: 0px 10px;
	text-align: left;
	vertical-align: center;
}

/* th부분 글자 */
.point {
	font-family: 'BBTreeGR';
	color: #6a60a9;
	font-size: 15px;
}

/* 회원정보수정 / 회원탈퇴 테이블 디자인 */
table.updateTable {
	border-collapse: separate;
	border-spacing: 1px;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	margin: 20px 10px;
}

table.updateTable th {
	width: 150px;
	height: 40px;
	padding: 50px;
	font-weight: bold;
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
	background: #efefef;
}

table.updateTable td {
	width: 700px;
	height: 40px;
	padding: 50px;
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
}

/* 회원정보수정 / 회원탈퇴 submit, reset버튼 */
.button {
	/* margin: -20px -50px;  */
	margin: 0 auto;
	position: relative;
	top: 100%;
	left: 48%;
}

.title {
	font-family: 'TmonMonsori';
	font-size: 25px;
}

/* 회원탈퇴 테이블 위치 조정 */
section#container input {
	margin: 3px;
}

section#container table {
	margin: 0px auto;
}

section#container table th {
	padding: 0px 10px;
	text-align: right;
}

section#container table td {
	padding: 0px 10px;
	text-align: left;
}

/* 회원탈퇴 사유 글자 */
label {
	font-family: 'BBTreeGR';
}

#deletejjim {
	/* margin: -20px -50px;  */
	margin: 0 auto;
	position: relative;
	top: 100%;
	left: 42%;
}
/* ↓ 로그인 div css */
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.account-wall {
	margin-top: 20px;
	padding: 40px 0px 20px 0px;
	background-color: #f7f7f7;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
	color: #555;
	font-size: 18px;
	font-weight: 400;
	display: block;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.need-help {
	margin-top: 10px;
}

.new-account {
	display: block;
	margin-top: 10px;
}

#back {
	background-color: yellow;
}

div.jumbotron {
	background-color: white;
	background-size: 100%;
}


/* 내가찜한펜션테이블 디자인
 */
 table.wish-list {
            border-collapse: separate;
            border-spacing: 1px;
            text-align: left;
            line-height: 1.5;
            border-top: 1px solid #ccc;
            margin: 100px 100px;
            position: relative;
            left: 50px;

        }

        table.wish-list th {
            width: 150px;
            padding: 10px;
            font-weight: bold;
            vertical-align: top;
            border-bottom: 1px solid #ccc;
        }

        table.wish-list td {
            width: 350px;
            padding: 15px;
            /* vertical-align: top; */
            border-bottom: 1px solid #ccc;
            vertical-align: middle;

        }

        #all-clear {

            /* margin-right: 50%; */
            float: right;
            position: relative;
            right: 130px;

        }

        th,
        td {

            text-align: center;
        }
        
          /* 예약내역, 찜 내역 제목 */

    #reservedtitle, #jjimtitle{

        font-family: 'TmonMonsori';
        font-size: 30px;

        color:gray;
        position: relative;
        top:40px;
        /* color: #6a60a9 !important; */


    }