@charset "euc-kr";
@font-face { font-family:'NanumGothicWeb'; font-style:normal; font-weight:400; src: url('NanumGothicCompact.woff') format('woff');}
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
a:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, div, td, p, form, select, span, li, dd, dt{font:12px/1.25em "����", Dotum,sans-serif; color:#444; line-height:15px;}
img {border: 0; vertical-align:middle;}
input {vertical-align:middle;}
ul{list-style:none;margin:0; padding:0;}
li{margin:0; padding:0;}
form{margin:0;}
body,div, ul, form, fieldset, td, th, li, h1, h2, h3, h4, p{margin:0; padding:0;}
a { text-decoration:none; color:#818181; }
a:visited { color:#818181; }

.hidden { display:none; }
.blk{width:100%; float:none; clear:both; font-size:0 !important; line-height:0 !important; overflow:hidden; margin:0 !important; padding:0 !important;}
.left { float: left; }
.right { float: right; }
.w10 { width:10%; }
.w20 { width:20%; }
.w30 { width:30%; }
.w35 { width:35%; }
.w40 { width:40%; }
.w45 { width:45%; }
.w48 { width:48%; }
.w49 { width:49%; }
.w50 { width:50%; }
.w55 { width:55%; }
.w60 { width:60%; }
.w70 { width:70%; }
.w80 { width:80%; }
.w90 { width:90%; }
.w98 { width:98%; }
.w99 { width:99%; }
.w100 { width:100%; }
.w110 { width:110px; }
.w130 { width:130px; }
.w140 { width:140px; }
.w200 { width:200px; }
.w250 { width:250px; }
.w80px { width:80px; }
.h01 { height:1px; }
.h02 { height:2px; }
.h03 { height:3px; }
.h04 { height:4px; }
.h05 { height:5px; }
.h06 { height:6px; }
.h07 { height:7px; }
.h08 { height:8px; }
.h09 { height:9px; }
.h10 { height:10px; }
.h11 { height:11px; }
.h12 { height:12px; }
.h13 { height:13px; }
.h14 { height:14px; }
.h15 { height:15px; }
.h16 { height:16px; }
.h20 { height:20px; }
.h25 { height:25px; }
.h26 { height:26px; }
.h30 { height:30px; }
.h35 { height:35px; }
.h40 { height:40px; }
.h45 { height:45px; }
.h50 { height:50px; }
.h60 { height:60px; }
.h70 { height:70px; }
.h80 { height:80px; }
.h85 { height:85px; }
.h90 { height:90px; }
.h100 { height:100px; }
.h110 { height:110px; }
.h115 { height:115px; }
.h120 { height:120px; }
.mr05 { margin-right:5px; }
.ltm1 { letter-spacing:-1px; }
.pr02 { padding-right:2px; }
.inline { display:inline; }
.top { vertical-align:top; }
.middle { vertical-align:middle; }
.bottom { vertical-align:bottom; }
.txt_left { text-align:left !important; }
.txt_right { text-align:right !important; }
.txt_center { text-align:center; }
.td_right { text-align:right !important; }
.td_center { text-align:center !important; padding-left:0px; padding-right:0px; }

.pdt03 { padding-top: 3px; }
.pdt05 { padding-top: 5px; }
.pdt10 { padding-top: 10px; }
.pdl10 { padding-left: 10px !important; }
.pdl12 { padding-left: 12px !important; }
.pdl15 { padding-left: 15px !important; }
.pdl15 { padding-left: 15px !important; }
.pdl20 { padding-left: 20px !important; }
.pdl30 { padding-left: 30px !important; }
.pdr05 { padding-right:5px !important; }
.pdr06 { padding-right:6px !important; }
.pdr08 { padding-right:8px !important; }
.pdr10 { padding-right:10px !important; }
.pdr50 { padding-right:50px !important; }
.pdb150{padding-bottom:150px !important;}
.pd10 { padding:10px !important; }
.pd18 { padding:18px !important; }
.pd20 { padding:20px !important; }
.ftc7e { color:#7e7e7e; }

.blind { display:none; }
.show { display:block !important; }
.white { color:#fff; }
.point_blue { color:#00a9e0; font-weight:bold; }
.border_gray { border:1px solid #e4e4e4; }
.bc8 { border:1px solid #c8c8c8; }
.bb2e4 { border-bottom:2px solid #e4e4e4; }
.bbe4 { border-bottom:1px solid #e4e4e4; }
.bbde7 { border-bottom:1px dashed #e7e7e7; }
.bbde4 { border-bottom:1px dashed #e4e4e4; }

#wrap {  }
#sub_wrap { margin:0 auto; width:980px; padding-top:50px; padding-bottom:40px; }
.sub_wrap { margin:0 auto; width:980px; padding-top:20px; }
#tnav_wrap { background-color:#f8f8f8; border-bottom:1px solid #f8f8f8; }
#tnav { width:980px; margin:0px auto; }
#tnav .left, #tnav .right { line-height:29px; color:#818181; font-size:11px; }
#tnav .right a { color:#818181; }
#top { width:980px; margin:0px auto; }
#logo { width:320px; padding-top:20px; float:left; }
#search { width:450px; padding-top:40px; float:left; }
.search_box { border:3px solid #2fb2ef; width:334px; height:32px; font-size:0px; letter-spacing:-1px; }
.search_today { width:340px; text-align:right; padding-top:6px; }
.input_search { width:261px; height:32px; padding:0px; margin:0px; border:0px; padding-left:6px; }
#tb_0 { width:210px; float:left; padding-top:40px; position:relative; }
.tb_arrow { position:absolute; left:183px; top:38px; }
#nav_wrap { height:50px; border:1px solid #229ed9; border-left:0px; border-right: 0px; background-color: #2fb2ef; margin-top:30px; }
#nav { width:980px; margin:0px auto; position:relative; }
#nav .nav_item {width:163px;text-align:center; float:left; padding:18px 0px; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-size:16px; font-weight:bold; color:#fff; background:url('/_psjava/_image/img/index/nav_slash.png') no-repeat; background-position:top right; position:relative; }
#nav .nav_item_select {width:165px;text-align:center; float:left; padding:18px 0px; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-size:16px; font-weight:bold; color:#fff; background-color:#198ec4; position:relative; }
#today_wrap { height:390px; width:100%; }
#today { width:980px; margin:0px auto; }
.main_img { width:830px; float:left; padding-top:5px; }
.main_img01 { width:730px; float:left; height:372px; background:url('/_psjava/_image/img/index/img_today01.png') no-repeat; background-position:0 6px; position:relative; }
.main_img01_txt { width:540px; height:70px; top:277px; left:54px; background:url('/_psjava/_image/img/index/main_today_bg.png'); color:#fff; position:absolute; }
.main_img01_btn { width:88px; height:70px; top:277px; left:594px; position:absolute; }
.main_nav { width:245px; height:360px; float:left; text-align:right; padding-top:12px; overflow-y:auto; padding-right:5px; }
.main_nav img { margin-bottom:1px; }
#real { width:980px; margin:0px auto; height:43px; background:url('/_psjava/_image/img/common/real_bg.png') no-repeat; text-align:center; padding-top:12px; }
.input_real { background:url('/_psjava/_image/img/common/bg_sinput.png') no-repeat; width:101px; height:24px; border:0px; text-align:center; color:#4b4b4b; font-weight:bold; vertical-align:middle; }
#best { padding:20px 30px; border:1px solid #b1b1b1; width:920px; margin:0px auto; margin-top:35px; position:relative; }
.best_item { width:215px; margin-right:20px; float:left; }
.best_item_img img { width:215px; }
.best_item_txt { margin-top:10px; }
.best_item_price { width:200px; float:left; color:#9c9c9c; }
.best_item_ptxt { letter-spacing:-1px; }
.best_item_btn { width:15px; float:right; }
#today_auction { padding:20px 30px; border:1px solid #b1b1b1; width:920px; margin:0px auto; margin-top:35px; position:relative; letter-spacing:-1px; }
.today_auction_end { background:url('/_psjava/_image/img/common/end_auction.png') no-repeat; width:920px; height:340px; position:absolute; left:0; top:0; color:#fff; }
.today_item { width:300px; height:480px; padding:10px; border:1px solid #e4e4e4; margin-right:5px; float:left; }
#bn_theme { width:980px; margin:0px auto; font-size:0px; letter-spacing:-1px; margin-top:35px; }
#theme { padding:20px 30px; border:1px solid #b1b1b1; width:920px; margin:0px auto; margin-top:35px; position:relative; }
.tab_theme { width:500px; position:absolute; left:540px; top:-5px; }
.tab_theme .tab_theme_on { color:#fff; font-size:11px; display:inline-block; zoom:1; *display:inline; background:url('/_psjava/_image/img/common/tab_bg.png') no-repeat; background-position:top right; height:28px; padding:15px 13px 0 7px; text-align:center; letter-spacing:-1px; }
.tab_theme .tab_theme_off { color:#434343; font-size:11px; padding:0 10px; display:inline-block; zoom:1; *display:inline; letter-spacing:-1px; }
#new { border:2px solid #c42423; width:960px; margin:0px auto; margin-top:35px; padding:20px 10px; }
.new_item { width:146px; margin-right:9px; float:left; }
.new_item img { width:146px; }
.new_left { width:13px; margin-right:5px; float:left; padding-top:95px; height:90px; }
.new_center { width:924px; float:left; }
.new_right { width:13px; margin-left:5px; float:left; padding-top:95px; height:90px; }
#finish { border:1px solid #c3c3c3; padding:20px; width:1040px; margin:0 auto; margin-top:55px; }
.finish_item { border:1px solid #e4e4e4; padding:10px; width:178px; height:308px; float:left; margin-right:10px; }
.finish_item_txt { width:160px; height:90px; background-color: #f8f8f8; padding:10px; color:#494949; font-size:11px; }
#newlist { width:980px; height:153px; margin:0 auto; margin-top:45px; background:url('/_psjava/_image/img/common/newlist_bg.png') no-repeat; }
.newlist01 { width:260px; float:left; padding:45px 0 0 15px; }
.newlist02 { width:260px; float:left; padding:45px 0 0 15px; }
.newlist03 { width:200px; float:left; padding:41px 0 0 8px; }
.newlist03 ul li { font-size:11px; color:#8e8e8e; line-height:20px; }
.newlist_img { width:100px; height:100px; float:left; }
.newlist_txt { width:155px; height:100px; float:left; font-size:11px; color:#a7a8aa; }
#bnav { width:980px; margin:0 auto; margin-top:55px; border-top:2px solid #777881; border-bottom:1px solid #cecece; line-height:38px; padding-left:15px; font-size:12px; }
#bnav a { color:#797979; }
#copyright { width:980px; margin:0 auto; padding-top:20px; padding-bottom:20px; }
.blogo { width:160px; float:left; padding-left:10px; }
.bcopy { width:520px; float:left; font-size:11px; color:#8e8e8e; line-height:20px; }
.bpatent { width:290px; float:right; }
.main_object_tab { letter-spacing:-1px; font-size:0px; position:absolute; text-align:right; top:-1px; right:-1px; }

.c00 { color:#000 !important; }
.c74 { color:#747474 !important; }
.c82 { color:#828282 !important; }
.cd3 { color:#d32410 !important; }
.c83 { color:#838383 !important; }
.c8a { color:#8a8a8a !important; }
.c6d { color:#6d7998 !important; }
.cd1 { color:#d1d1d1 !important; }
.ce7 { color:#e71a1a !important; }
.c62 { color:#626262 !important; }
.cd6 { color:#d6d6d6 !important; }
.c03 { color:#036c9b !important; }
.c7c { color:#7c7c7c !important; }
.c8d { color:#8d8d8d !important; }
.ce7 { color:#e71a1a !important; }
.c49 { color:#494949 !important; }
.ca6 { color:#a6a6a6 !important; }
.ced { color:#ed1500 !important; }
.c43 { color:#434343 !important; }
.c30 { color:#30bef2 !important; }
.f0 { font-size:0px; }
.f1 { font-size:1px; }
.f10 { font-size:10px; }
.f11 { font-size:11px !important; }
.dotum { font-family:dotum !important; }
.f12 { font-size:12px; }
.f13 { font-size:13px; }
.f14 { font-size:14px; }
.f15 { font-size:15px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f20 { font-size:20px; }
.f23 { font-size:23px !important; }
.f25 { font-size:25px !important; }
.f30 { font-size:30px !important; }
.cde { color:#dedede; }
.ccd { color:#cdcdcd; }
.cee { color:#ee1514;; }
.c00a2 { color:#00a2ff !important; }
.c9e { color:#9E9EA0; }
.ce7 { color:#e73333; }
.cff { color:#ff0000 !important; }
.c17 { color:#178FE6 !important; }
.c02 { color:#026C9C !important; }
.c3a { color:#3a3a3a !important; }
.cc4 { color:#c4c4c4 !important; }
.c3f { color:#3f3f3f !important; }
.c6f { color:#6f6f6f !important; }
.cc1 { color:#1ca4e3 !important; }
.c0078 { color:#0078ff !important; }
.c5f { color:#5FD215 !important; }
.c98 { color:#980000 !important; }
.c58 { color:#58a7ff !important; }
.c1f { color:#1f8eff !important; }
.cdf { color:#df1a1a !important; }
.cbf { color:#bfbfbf !important; }
.c86 { color:#868686 !important; }
.c83 { color:#838383 !important; }
.ca5 { color:#a5a5a5 !important; }
.c4b { color:#4b4b4b !important; }
.c40 { color:#40acff !important; }
.c75 { color:#757575 !important; }
.cf60 { color:#ff6600 !important; }
.cwh { color:#fff !important; }
.c44 { color:#448fec !important; }
.vat { vertical-align:top !important; }
.vam { vertical-align:middle; }
.vab { vertical-align:bottom; }
.bd { font-weight:bold; }
.bd0px { border:0px !important; }
.nanum { font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; }
.arial { font-family: arial, 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; }
.lsm1 { letter-spacing: -1px; }
.lsm2 { letter-spacing: -2px; }
.mg0 { margin:0px !important; }
.bb0 { border-bottom:0px !important; }
.cnum { background:url('/_psjava/_image/img/common/cnum_bg.png') no-repeat; height:30px; padding-top:12px; text-align:center; width:64px; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; font-size:30px; color:#fff; float:left; }
.cnum_slash { background:url('/_psjava/_image/img/common/cnum_slash.png') no-repeat; width:7px; background-position:top center; height:42px; float:left; }

#quick_left { position:absolute; display:none; }
#quick_right { position:absolute; display:none; }

.nav_tip_spa { position:absolute; top:-15px; display:none; }
.nav_tip_ski { position:absolute; top:-15px; display:none; }
.nav_tip_cupon { position:absolute; top:-15px; display:none; }

.quick_box { border:1px solid #9b9b9b; width:94px; padding:10px 0 10px 14px; background-color:#fff; text-align:left; color:#494949; font-size:11px; letter-spacing:-1px; }

.qb_num { float:left; font-size:11px; color:#8a8a8a; font-weight:bold; }
.qb_num span { font-size:11px; font-weight:bold; }
.qb_arrow { float:right; padding-right:15px; }

.join_box { padding:30px; width:820px; border:1px solid #d0d0d0; border-top:3px solid #e11414; border-bottom:3px solid #464646; margin:0 auto; }
.join_ul li { font-size:11px; color:#6a6a6a; text-align:left; padding-left:50px; background:url('/_psjava/_image/img/join/icon_arrow.png') no-repeat; background-position:37px 4px; }

.join_agree { width:780px; height:180px; border:1px solid #d0d0d0; padding:20px; font-size:11px; color:#6a6a6a; font-family:dotum, '����'; line-height: 20px; }

.table_join { width:880px; border:1px solid #d0d0d0; border-top:3px solid #e11414; border-bottom:3px solid #464646; margin:0 auto; }
.table_join th { background-color:#f8f8f8; text-align:left; padding-left:20px; border-bottom:1px solid #d0d0d0; vertical-align:middle; }
.table_join td { padding:5px; border-bottom:1px solid #d0d0d0; font-size:11px; color:#909090; }
.table_join td input { vertical-align:bottom; border:1px solid #d0d0d0; height:18px; }
.table_join td input[type=image] { border:0px; height:25px; }

.table_modify { width:100%; border:1px solid #d0d0d0; margin:0 auto; }
.table_modify th { background-color:#f8f8f8; text-align:left; padding-left:20px; border-bottom:1px solid #d0d0d0; vertical-align:middle; }
.table_modify td { padding:5px; border-bottom:1px solid #d0d0d0; font-size:11px; color:#909090; }
.table_modify td input { vertical-align:bottom; border:1px solid #d0d0d0; height:18px; }
.table_modify td input[type=image] { border:0px; height:25px; }

.login_wrap { padding:30px; padding-top:0px; width:540px; border:1px solid #d0d0d0; border-top:3px solid #e11414; border-bottom:3px solid #464646; margin:0 auto; text-align:center; }
.login_input { width:420; border:1px solid #d0d0d0; background-color:#fffafa; padding:24px 0; }
.login_input input[type="text"] { width:120px; height:20px; border:1px solid #d0d0d0; }
.login_input input[type="password"] { width:120px; height:20px; border:1px solid #d0d0d0; }

.login_wrap2 { padding-top:0px; width:390px; border:1px solid #d0d0d0; border-top:3px solid #e11414; border-bottom:3px solid #464646; margin:0 auto; text-align:center; float:left; margin-right:15px; }
.login_input2 { width:350px; border:1px solid #d0d0d0; background-color:#fffafa; padding:24px 0; margin:0 auto; }
.login_input2 input[type="text"] { width:120px; height:20px; border:1px solid #d0d0d0; }
.login_input2 input[type="password"] { width:120px; height:20px; border:1px solid #d0d0d0; }

.div_center { margin:0 auto; }

.login_ul li { border-bottom:1px dashed #ccc; padding:5px 0; }
.login_ul li .left { padding-top:5px; }

#sub_left { float:left; width:180px; }
#sub_contents { float:left; width:800px; }

.snav_mypage { width:160px; border:2px solid #198EC4; }
.snav_intro { width:162px; }
.snav_my { width:162px; border:1px solid #ccc; }
.snav_community { width:164px; background-color: #F7F7F7; }
.snav_customer { width:160px; border:2px solid #6E6E6E; }

.mypage_info { background:url('/_psjava/_image/img/mypage/mypage_info_bg.png') no-repeat; border:10px solid #d8d8d8; height:130px; position:relative; }
.mypage_info_txt1 { position:absolute; padding:67px 0 0 106px; }
.mypage_info_txt2 { position:absolute; padding:67px 0 0 511px; }
.mypage_info_txt1 span,.mypage_info_txt2 span { color:#ff1111; font-size:30px; font-family: arial, 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; }

.customer_info { background:url('/_psjava/_image/img/customer/customer_bg.jpg') no-repeat; border:10px solid #d8d8d8; height:160px; position:relative; }
.btn_customer { position:absolute; top:113px; left:27px; }

.tab2_group {position:relative; width:980px; overflow:hidden; margin:0 auto;}
.tab2_group>div {position:relative; width:980px;}
.tab2_contents {position:relative; width:980px;}

.calendar_wrap { background:url('/_psjava/_image/img/mypage/tab_line.png') repeat-x; background-position:bottom left; position:relative; z-index:999;overflow:hidden; }
.caltab { padding:12px 26px; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; float:left; border:2px solid #696969; border-bottom:2px solid #fff; background:#fff;}
.caltab_off { padding:12px 34px; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; float:left; border:2px solid #d0d0d0; border-left:0px; border-bottom:0px; cursor:pointer; background-color:#f7f7f7; }
.caltab_sm { position:absolute; right:0px; padding-top:6px; }

.tab_wrap { background:url('/_psjava/_image/img/mypage/tab_line.png') repeat-x; background-position:bottom left; }
.tab_on { padding:12px 35px; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; float:left; border:2px solid #424242; border-bottom:2px solid #fff; }
.tab_off { padding:12px 35px; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; float:left; border:2px solid #d0d0d0; border-left:0px; border-bottom:0px; cursor:pointer; }

.tab2_wrap { background:url('/_psjava/_image/img/mypage/tab_line.png') repeat-x; background-position:bottom left; position:relative; z-index:999; }
.tab2_on { padding:12px 26px; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; float:left; border:2px solid #696969; border-bottom:2px solid #fff; background:#fff;}
.tab2_off { padding:12px 34px; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; float:left; border:2px solid #d0d0d0; border-left:0px; border-bottom:0px; cursor:pointer; background-color:#f7f7f7; }
#nav02 {width:160px;}

.tab3_wrap { background:url('/_psjava/_image/img/mypage/tab_line.png') repeat-x; background-position:bottom left; position:relative; z-index:999; }
.tab4_wrap { background:url('/_psjava/_image/img/mypage/tab_line.png') repeat-x; background-position:bottom left; position:relative; z-index:999; }
.tab5_wrap { background:url('/_psjava/_image/img/mypage/tab_line.png') repeat-x; background-position:bottom left; position:relative; z-index:999; }



.snav_ul { margin:6px 2px; }
.snav_ul li { line-height:15px; padding:5px 10px; font-size:13px; }
.snav_ul li.arrow { background:url('/_psjava/_image/img/common/icon_arrow.png') no-repeat; background-position:142px 10px;  }
.snav_ul li a { color:#333333; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; }
.snav_ul li.selected a { font-weight:bold; }

.snav_ul_s { margin:6px 2px; }
.snav_ul_s li { line-height:10px; padding:5px 10px; font-size:12px; }
.snav_ul_s li a { color:#333333; }
.snav_ul_s li.selected a { font-weight:bold; }
.snav_ul_s li.dot a { background:url('/_psjava/_image/img/popup/icon_dot.jpg') no-repeat; background-position:0 5px; padding-left:10px; }
.snav_ul_s li.dot { border-bottom:1px solid #ddd; padding-bottom:0 0 5px 0; line-height:14px; }
.snav_ul_s li.dot:last-child { border-bottom:0px; padding-bottom:0px; }

.tit_arrow { background:url('/_psjava/_image/img/mypage/icon_arrow.png') no-repeat; background-position:0 4px; padding-left:12px; color:#313131; font-weight:bold; }

.sch_box {display:inline-block;position:relative;top:5px;left:640px;}
.table_mypage { width:100%; }
.table_mypage tbody th { background-color:#424242; color:#fff; padding:8px 0; }
.table_mypage tbody td { color:#313131; text-align:center; border-bottom:1px solid #d9d9d9; padding:8px 0; vertical-align:middle; }
.table_mypage tfoot th { text-align:right; border-top:1px solid #b3b3b3; color:#313131; font-weight:bold; padding:12px; padding-bottom:0px; }
.table_mypage tfoot td { text-align:center; padding-top:20px; }
.table_mypage tfoot td span { text-align:center; padding:0 1px; }
.table_mypage tfoot td span.selected { color:#ff0505; font-weight:bold; padding:0 1px; }
.price_red { text-align:right; color:#ff1111 !important; font-weight:bold; }
.price_gray { text-align:right; color:#4b4b4b !important; font-weight:bold; }

.table_zzim { width:100%; }
.table_zzim tbody th { font-size:11px; background-color:#424242; color:#fff; padding:8px 0; }
.table_zzim tbody td { font-size:11px; color:#313131; text-align:center; border-bottom:1px solid #d9d9d9; padding:8px 0; vertical-align:middle; }
.table_zzim tfoot th { font-size:11px; text-align:right; border-top:1px solid #b3b3b3; color:#313131; font-weight:bold; padding:12px; padding-bottom:0px; }
.table_zzim tfoot td { font-size:11px; text-align:center; padding-top:20px; }
.table_zzim tfoot td span { text-align:center; padding:0 1px; font-size:11px; }
.table_zzim tfoot td span.selected { color:#ff0505; font-weight:bold; padding:0 1px; font-size:11px; }

.table_faq { width:100%; }
.table_faq tbody th { background-color:#424242; color:#fff; padding:6px 0; line-height:20px; }
.table_faq tbody td { color:#313131; text-align:center; border-bottom:1px solid #d9d9d9; padding:6px 0; vertical-align:middle; line-height:20px; }
.table_faq tfoot th { text-align:right; border-top:1px solid #b3b3b3; color:#313131; font-weight:bold; padding:12px; padding-bottom:0px; line-height:20px; }
.table_faq tfoot td { text-align:center; padding-top:20px; line-height:20px; }
.table_faq tfoot td span { text-align:center; padding:0 1px; }
.table_faq tfoot td span.selected { color:#ff0505; font-weight:bold; padding:0 1px; }

.tab_contents {  }
.tab_contents_wrap {width:856px; }

.price_num { color:#ff1111; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; font-size:20px; letter-spacing:-1px; }

.today_box { background:url('/_psjava/_image/img/index/img_today.png') no-repeat; width:341px; height:187px; padding:153px 0 0 579px; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; font-size:30px; color:#fff; text-align:center; position:relative; }

.spa_box { background:url('/_psjava/_image/img/theme/spa_bg.png') no-repeat; width:540px; height:130px; padding:25px 0 0 440px; margin:0 auto; margin-top:40px; }

.spa_wrap { width:980px; margin:0 auto; margin-top:30px; }

.btn_map { cursor:pointer; }
.map_wrap { width:980px; position:absolute; z-index:999; display:none; }
.map_wrap_btn { position:absolute; right:7px; top:17px; cursor:pointer; }

.ttab_wrap { background:url('/_psjava/_image/img/theme/ttab_bg.png') repeat-x; background-position:bottom left; }
.ttab_on { width:120px; height:28px; background:url('/_psjava/_image/img/theme/ttab_on.png') no-repeat; text-align:center; padding-top:12px; float:left; font-size:13px; font-weight:bold; color:#0d88bf; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; }
.ttab_off { width:120px; height:28px; background:url('/_psjava/_image/img/theme/ttab_off.png') no-repeat; text-align:center; padding-top:12px; float:left; font-size:13px; font-weight:bold; color:#3c3c3c; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; cursor:pointer; }
.ttnav { padding-top:10px; float:left font-size:0px; letter-spacing:-1px; }

.spa_item { width:231px; border:1px solid #b1b1b1; margin-right:16px; float:left; }
.spa_item img { width:231px; }

.spa_item_big { width:310px; border:1px solid #b1b1b1; margin-right:22px; float:left; }
.spa_item_big img { width:310px; }

.spa_txt { padding:15px; }

.sea_item { width:308px; border-top:1px solid #b1b1b1; border-bottom:1px solid #b1b1b1; float:left; }
.sea_item img { width:308px; height:276px; }
.sea_txt { padding:9px 15px 10px 15px; }

.bdlr1b1 { border-left:1px solid #b1b1b1; border-right:1px solid #b1b1b1; width:359px; }
.bdlr1b1 img { width:359px; }
.br1b1 { border-right:1px solid #b1b1b1; }
.bl1b1 { border-left:1px solid #b1b1b1; }

.br1d9 { border-right:1px solid #d9d9d9; }
.bl1d9 { border-left:1px solid #d9d9d9; }

.img_final01 { background:url('/_psjava/_image/img/theme/img_final01.png') no-repeat; width:80px; height:24px; padding-top:59px; text-align:center; }
.img_final01 span { line-height:10px; }
.img_final01 strong { line-height:10px; }

.dc_area { width:976px; margin:0 auto; border:2px solid #159fe0; border-radius: 8px; text-align:center; padding-top:6px; }
.dc_area_on { display:inline-block; zoom:1; *display:inline; position:relative; background:url('/_psjava/_image/img/dc/tab_on.png') no-repeat; width:80px; height:23px; text-align:center; padding-top:8px; color:#fff; font-weight:bold; margin:8px 3px; }
.dc_area_off { display:inline-block; zoom:1; *display:inline; position:relative; background:url('/_psjava/_image/img/dc/tab_off.png') no-repeat; width:80px; height:23px; text-align:center; padding-top:8px; color:#4d4d4d; font-weight:bold; margin:8px 3px; cursor:pointer; }

.dc_area3 { width:976px; margin:0 auto; border:2px solid #159fe0; border-radius: 8px; text-align:center; padding-top:6px; }
.dc_area3_on { display:inline-block; zoom:1; *display:inline; position:relative; background:url('/_psjava/_image/img/dc/tab_on2.png') no-repeat; width:110px; height:23px; text-align:center; padding-top:8px; color:#fff; font-weight:bold; margin:8px 3px; }
.dc_area3_off { display:inline-block; zoom:1; *display:inline; position:relative; background:url('/_psjava/_image/img/dc/tab_off2.png') no-repeat; width:110px; height:23px; text-align:center; padding-top:8px; color:#4d4d4d; font-weight:bold; margin:8px 3px; cursor:pointer; }

.dc_area_tip_on { width:30px; height:16px; background:url('/_psjava/_image/img/dc/tip_on.png') no-repeat; position:absolute; color:#fff; font-weight:bold; text-align:center; text-shadow: 1px 1px #444; top:-10px; left:30px; }
.dc_area_tip_off { width:30px; height:16px; background:url('/_psjava/_image/img/dc/tip_off.png') no-repeat; position:absolute; color:#fff; font-weight:bold; text-align:center; text-shadow: 1px 1px #444; top:-10px; left:30px; }

.dc_area2 { border:1px solid #c2c2c2; border-radius: 8px; padding:20px; width:940px; margin:0 auto; margin-top:10px; }
.dc_area2_ul { width:188px; float:left; }
.dc_area2_ul li { padding:5px 0; color:#636363; }

.blank_ul { margin:12px 20px; }
.blank_ul li { border-bottom:1px solid #dfdfdf; padding-top:10px; padding-bottom:10px; }
.blank_ul .left { width:85px; background:url('/_psjava/_image/img/blank/icon_check.png') no-repeat; padding-left:16px; text-align:left; font-weight:bold; }
.blank_ul .right { width:830px; text-align:left; }
.blank_ul .right input {  }

.table_blank { width:980px; margin:0 auto; border-left:1px solid #dddddd; border-top:1px solid #dddddd; }
.table_blank th { border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; }
.table_blank td { border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; }
.table_blank thead th { background-color:#f7f7f7; padding:5px 10px; }
.table_blank tbody td { padding:5px 10px; text-align:center; vertical-align:middle; line-height:18px; }
.table_blank tbody td.bimg { text-align:left; padding:15px; }
.table_blank tbody td.no_line { border-right:0px !important; }

.table_blank2 { width:980px; margin:0 auto; border-left:1px solid #dddddd; border-top:1px solid #dddddd; }
.table_blank2 th { border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; }
.table_blank2 td { border-right:1px solid #dddddd; border-bottom:1px solid #dddddd; }
.table_blank2 thead th { background-color:#f7f7f7; padding:5px 10px; }
.table_blank2 tbody td { padding:5px 5px; text-align:center; vertical-align:middle; line-height:18px; }
.table_blank2 tbody td.bimg { text-align:left; padding:15px; }
.table_blank2 tbody td.no_line { border-right:0px !important; }

.popup_top_wrap { background-color:#6e6e6e; }
.popup_top { width:980px; margin:0 auto; height:110px; padding-top:10px; }
.popup_top_logo { width:510px; float:left; }
.popup_top_nav { float:right; padding-top:70px; }
.popup_top_tit { float:right; padding-top:55px; }

.popup_box { border:1px solid #d1d1d1; padding:20px; }
.popup_main_img { width:410px; float:left; }
.popup_main_detail { width:525px; float:left; }

.popup_detail_box { padding:6px 20px; background-color:#fafafa; border:1px solid #d1d1d1; }
.popup_detail_list { background:url('/_psjava/_image/img/popup/dt_line.png'); }
.popup_detail_box01 { width:80px; float:left; line-height:30px; }
.popup_detail_box02 { width:30px; float:left; line-height:30px; color:#767676; }
.popup_detail_box03 { width:320px; float:left; line-height:30px; color:#767676; }
.popup_contents {position:relative; width:980px; margin:0 auto; }

.table_room { width:100%; border-top:1px solid #d1d1d1; border-left:1px solid #d1d1d1; }
.table_room th { border-bottom:1px solid #d1d1d1; border-right:1px solid #d1d1d1; padding:12px; background-color:#fafafa; vertical-align:middle; line-height:18px; }
.table_room td { border-bottom:1px solid #d1d1d1; border-right:1px solid #d1d1d1; padding:12px; vertical-align:middle; text-align:center; line-height:18px; }
.table_room2{width:100%;border:0;border-collapse: collapse;}
.table_room2 th{border:1px solid #d1d1d1; padding:12px; background-color:#fafafa; vertical-align:middle; line-height:18px;}
.table_room2 td{border:1px solid #d1d1d1; padding:12px; vertical-align:middle; text-align:center; line-height:18px;}
.table_room2 td.line2{border-width:2px;}
.table_room2 td.noline{border-bottom:0}
.table_room2 th.bl2,.table_room2 td.bl2{border-left-width:2px;}
.table_room2 th.br2,.table_room2 td.br2{border-right-width:2px;}
.table_room2 th.bt2,.table_room2 td.bt2{border-top-width:2px;}
.table_room2 th.bb2,.table_room2 td.bb2{border-bottom-width:2px;}
.table_room2 .bg{background-color:#f1f1f1;}
.table_room2 th p.imgBox{position:relative;}
.table_room2 th p.imgBox .vpage{position:absolute;right:10px;bottom:10px;display:block;padding:3px 5px;background-color:#000;font-size:12px;color:#c0c0c0}
.table_room2 th p.imgBox .vpage span{color:#fff}

.bb0px { border-bottom:0px !important; }
.pdb0px { padding-bottom:0px !important; }
.pdt0px { padding-top:0px !important; }
.pdt5px { padding-top:5px !important; }

.room_sum_on { padding:3px; border:2px solid #727272;  width:90px;height:60px; cursor:pointer;}
.room_sum_off { padding:4px; border:2px solid #dadada; width:90px;height:60px; cursor:pointer;}

.arrow_gap_left { display:inline-block;zoom:1;*display:inline;padding-right:12px; }
.arrow_gap_right { display:inline-block;zoom:1;*display:inline;padding-left:12px; }

.table_price { width:100%; border-left:1px solid #d1d1d1; border-top:1px solid #d1d1d1; }
.table_price th { font-size:11px; text-align:center; border-right:1px solid #d1d1d1; border-bottom:1px solid #919191; background-color:#f3f3f3; padding:10px 0; vertical-align:middle; font-weight:normal; line-height:15px; }
.table_price th.sat { background-color:#cce5ff; }
.table_price th.sun { background-color:#ffcccc; }
.table_price td.sun { background-color:#ffcccc; }
.table_price td { font-size:11px; text-align:center; border-right:1px solid #d1d1d1; border-bottom:0 !important; padding:10px 0; vertical-align:middle; line-height:15px; background:url('/_psjava/_image/img/popup/cal_table_bg.jpg') repeat-x left bottom;}
.table_price td.last {padding-top:0; padding-bottom:0;}
.table_price th p, .table_price td p { font-size:11px; }
.table_price th span, .table_price td span { font-size:11px; }
.table_price th.bgn{background:none;}

.table_price tr.point_bg th{background:#cce6ff;}
.table_price tr.point_bg td{background:#cce6ff;}

.table_price.type02 td{font-size:11px; text-align:center; border-right:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1 !important; padding:10px 0; vertical-align:middle; line-height:15px;background-image:none;}
.table_price.type02 td.pd_bt{padding-top:0;padding-bottom:0;border-bottom:0 !important;}




.table_final_auction { width:100%; border-top:1px solid #ddd; border-left:1px solid #ddd; }
.table_final_auction th { border-bottom:1px solid #ddd; border-right:1px solid #ddd; background-color:#f7f7f7; text-align:center; padding:6px; vertical-align:middle; }
.table_final_auction td { border-bottom:1px solid #ddd; border-right:1px solid #ddd; text-align:center; padding:10px; vertical-align:middle; }
.table_final_auction td.pd_bt{padding:0;border-bottom:0;}

.table_final_auction{width:100%; border-top:1px solid #ddd; border-left:1px solid #ddd;background-color:#fff;}
.table_final_auction.pop {border-left:0;}
.table_final_auction th{border-bottom:1px solid #ddd; border-right:1px solid #ddd; background-color:#f7f7f7; text-align:center; padding:6px; vertical-align:middle;}
.table_final_auction.pop th {padding:6px 12px;}
.table_final_auction th.ftw {font-weight:normal;}
.table_final_auction td{border-bottom:1px solid #ddd; border-right:1px solid #ddd; text-align:center; padding:10px; vertical-align:middle;}
.table_final_auction.pop td {border-right:0;}
.table_final_auction td.bank label {font-size:11px; color:#747474;}
.table_final_auction td.bank input {height:13px;}
.table_final_auction td.bank input.name {width:100px; margin-left:3px;}

.table_re_final { width:100%; border-top:1px solid #ddd; border-left:1px solid #ddd; }
.table_re_final tbody th { border-bottom:1px solid #ddd; border-right:1px solid #ddd; background-color:#f7f7f7; text-align:left; padding:6px; vertical-align:middle; font-weight: normal; }
.table_re_final tbody td { border-bottom:1px solid #ddd; border-right:1px solid #ddd; text-align:left; padding:6px; vertical-align:middle; }
.table_re_final tfoot th { border-bottom:1px solid #ddd; border-right:1px solid #ddd; background-color:#f7f7f7; text-align:left; padding:1px 6px; vertical-align:middle; font-weight: normal; font-size:12px; }
.table_re_final tfoot td { border-bottom:1px solid #ddd; border-right:1px solid #ddd; text-align:left; padding:1px 6px; vertical-align:middle; font-size:12px; }



.table_zava { width:100%; padding:0px; border:0px; text-align:right; }
.table_zava th { padding:0px; border:0px; text-align:left; vertical-align:middle; line-height:21px; background-color:#fff; font-weight:normal; }
.table_zava td { padding:0px; border:0px; text-align:right; vertical-align:middle; line-height:21px; }

.pay_wrap { border:1px solid #dadada; position:relative; }
.pay_tit { font-weight:bold; padding-bottom:5px; }
.pay_center { width:624px; float:left; border-bottom:1px dashed #dadada; background-color:#f8f8f8; height:80px; padding:12px; position:relative; }
.pay_left { width:299px; float:left; border-right:1px dashed #dadada; background-color:#f8f8f8; height:80px; padding:12px; }
.pay_right { width:300px; float:right; background-color:#f8f8f8; height:80px; padding:12px; }
.pay_ul li { background-color:#f8f8f8; font-size:11px; line-height:20px; }

.tit_contents { font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; color:#1A8FC5; font-size:15px; text-align:center; line-height:32px; text-align:left; }
.tit_contents span { font-size:12px; font-weight:bold; color:#333; }

.table_mynew { width:100%; border:2px solid #767676; border-left:0px; border-right:0px; }
.table_mynew td { font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; color:#333; font-size:14px; background-color:#EAF1F7; padding:12px 6px; text-align:center; vertical-align:middle; }
.table_mynew td span { color:#EB0001; font-size:14px; font-weight:bold; padding-left:5px; }
.table_mynew td strong { color:#198EC4; font-size:20px; font-weight:bold; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; vertical-align:middle; padding-left:5px; }

.sbtn { border:1px solid #999; background:url('/_psjava/_image/img/common/sbtn_bg.png') repeat-x; line-height:13px; display:inline-block; zoom:1; *display:inline; font-size:11px; color:#666; padding:1px 5px 0 5px; }

.table_recent { width:100%; }
.table_recent thead th { background-color: #808080; color:#fff; border-right:1px solid #fff; font-weight:normal; padding:8px;border-bottom: 1px solid #ddd;}
.table_recent thead td { text-align:center; padding:8px; border-bottom:1px solid #ddd;  }
.table_recent tbody td { border-bottom:1px solid #ddd; border-right:1px solid #ddd; vertical-align:middle; padding:8px; }
.table_recent tbody td:last-child { border-bottom:1px solid #ddd; border-right:0px; }

.mypage_point { background-color: #D5D5D5; padding:10px; }
.mypage_box { background-color: #fff; padding:15px 15px 0 15px; width:200px; float:left; }

.sbtn_gray { border:1px solid #666666; display:inline-block; zoom:1; *display:inline; }
.sbtn_gray p { background-color: #6b6b69; border:1px solid #747474; font-size:12px; color:#fff; padding:0 5px; }

.group_box { border:1px solid #c0c0c0; padding:30px; width:920px; margin:0 auto; }
.group_left { left:250px; float:left; text-align:center; }
.group_right { width:660px; float:right; }

.table_group { width:100%; border-top:1px solid #dedede; }
.table_group th { border-bottom:1px solid #dedede; background-color:#F3F3F3; padding:6px 10px; text-align:left; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; font-size:13px; }
.table_group td { padding:6px 10px; border-bottom:1px solid #dedede; }

.table_price_m { border:0px; }
.table_price_m th { border:0px; font-size:11px; color:#828282; vertical-align:middle; padding:0 !important; }
.table_price_m td { border:0px; font-size:11px; color:#828282; vertical-align:middle; padding:0 !important; }

.table_pay_type { border-top:2px solid #444; border-bottom:1px solid #444; }
.table_pay_type thead th { background-color:#f8f8f8; text-align:left; padding:8px; font-weight:normal; border-bottom:1px solid #ddd; vertical-align:middle; }
.table_pay_type tbody th { text-align:left; padding:12px; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif; font-weight:bold; font-size:13px; border-bottom:1px solid #ddd; vertical-align:middle; }
.table_pay_type tbody td { text-align:left; padding:12px; border-bottom:1px solid #ddd; border-right:1px solid #ddd; vertical-align:middle; }


.btn_t_priint {text-align:right;margin-top:10px;}
.reserv_a {margin-top:10px;border:1px solid #ddd;padding:8px;}
.reserv_info {width:620px;float:right;}
.reserv_info tbody th {background-color:#f8f8f8; text-align:left; padding:7px}
.reserv_info tbody td {padding-left:10px;}

.tbl_pay {margin-top:10px; width:100%;border-top:2px solid #444; border-bottom:1px solid #444; }
.tbl_pay thead th { background-color:#f8f8f8; text-align:center; padding:8px; font-weight:normal;border:1px solid #ddd;  vertical-align:middle; }
.tbl_pay tbody td { text-align:center; padding:12px; font-family: 'NanumGothic', '����怨���','NanumGothicWeb', '留��� 怨���', 'Malgun Gothic', Dotum, applegothic,sans-serif;font-size:12px; border:1px solid #ddd; vertical-align:middle; }
.tbl_pay tbody td .td_right {text-align:right;}

.refund_info {margin-top:15px;border:1px solid #ddd;padding:10px;}
.btn_sys01 {margin-top:15px;text-align:right;}



.cls_li {float:left; margin-top:6px; margin-right:10px;}
.cls_li input[type="radio"] {width:13px; height:13px; margin:0;}


.cal_icon {position:absolute; top:28px; right:48px;}
.cal_icon .ic_wait {padding:2px 0 2px 20px; margin-right:15px; background:url('/_psjava/renewal/img/popup/1.jpg') no-repeat left center;}
.cal_icon .ic_com {padding:2px 0 2px 20px; background:url('/_psjava/renewal/img/popup/2.jpg') no-repeat left center;}